<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.novedu.nov.edu.mapper.CmsConsultMapper">

    <select id="queryPage" parameterType="CmsConsult" resultType="CmsConsultVO">
        select
        c.id as id,
        c.content as content,
        c.reply_content as replyContent,
        u.nickname as nickname,
        '管理员' as adminName,
        c.admin_id,
        c.create_time as createTime,
        c.update_time as updateTime
        from cms_consult c left join acl_user u
        on c.uid = u.id
        <if test="ew != null and ew.sqlSegment != null and ew.sqlSegment != ''">
            and ${ew.sqlSegment}
        </if>
        where c.is_deleted = 0
        order by c.create_time desc
    </select>

</mapper>
