<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.novedu.nov.edu.mapper.EduCourseMapper">

    <update id="statisticsCourseApplyCount">
       UPDATE
        edu_course course
        SET course.apply_count = (SELECT count(*) FROM edu_course_apply a where  a.course_id = course.id)
    </update>

    <update id="statisticsCourseBuyCount">
       UPDATE
        edu_course course
        SET course.buy_count = (SELECT count(*) FROM trade_order o where  o.course_id = course.id and o.status = 1)
    </update>

    <select id="queryCourseDetail" parameterType="java.lang.Long" resultType="EduCourseInfoVO">
           select teacher.id as teacherId,
        teacher.name as teacherName,
        teacher.avatar as teacherAvatar,
        teacher.career as teacherCareer,
        subject.id as subjectId,
        subject.title as subjectTitle,
        subject.sort as subjectSort,
        course.id as courseId,
        course.title as courseTitle,
        course.lesson_num as courseLessonNum,
        course.status as courseStatus,
        course.view_count as courseViewCount,
        course.buy_count as courseBuyCount,
        course.apply_count as courseApplyCount,
        course.cover as courseCover,
        course.price as coursePrice,
        course.create_time as courseCreateTime,
        course.update_time as courseUpdateTime,
        intro.description as introDescription
        from edu_course course
        left join edu_subject subject
        on course.subject_id = subject.id
        left join edu_course_intro intro
        on course.id = intro.id
        left join edu_teacher teacher
        on course.teacher_id = teacher.id
        where course.id = #{id}
    </select>

    <select id="queryPage" parameterType="EduCourseInfoVO" resultType="EduCourseInfoVO">
        select teacher.id as teacherId,
        teacher.name as teacherName,
        course.id as courseId,
        course.title as courseTitle,
        course.lesson_num as courseLessonNum,
        course.status as courseStatus,
        course.view_count as courseViewCount,
        course.buy_count as courseBuyCount,
        course.apply_count as courseApplyCount,
        course.cover as courseCover,
        course.price as coursePrice,
        course.create_time as courseCreateTime,
        course.update_time as courseUpdateTime,
        (select count(*) from edu_chapter e where e.course_id = course.id and e.is_deleted = 0) as chapterQty,
        (select count(*) from edu_video v1 ,edu_chapter v2
        where
        v2.id = v1.chapter_id
        and
        course.id= v2.course_id
        and
        v1.is_deleted = 0
        and
        v2.is_deleted = v1.is_deleted
        ) as videoQty,
        subject.id as subjectId,
        subject.title as subjectTitle,
        subject.sort as subjectSort,
        subject.create_time as subjectCreateTime,
        subject.update_time as subjectUpdateTime
        from edu_course course
        left join edu_teacher teacher on course.teacher_id = teacher.id
        left join edu_subject subject on course.subject_id = subject.id
        where course.is_deleted = 0
        <if test="ew != null and ew.sqlSegment != null and ew.sqlSegment != ''">
            and ${ew.sqlSegment}
        </if>
        order by course.title, course.teacher_id, course.create_time
    </select>

    <select id="queryCourseTree" resultMap="EduCourseMap">
        select c1.id as cid,
        c1.teacher_id as teacherId,
        c1.subject_id as subjectId,
        c1.title as title,
        c1.price as price,
        c1.cover as cover,
        c1.lesson_num as lessonNum,
        c1.buy_count as buyCount,
        c1.view_count as viewCount,
        c1.version as version,
        c1.status as status,
        c1.is_deleted as isDeleted,
        c1.create_time as createTime,
        c1.update_time as updateTime,
        t.create_time as tCreateTime,
        t.update_time as tCpdateTime,
        t.name as tName,
        t.career as tCareer
        from edu_course c1
        left join edu_teacher t on c1.teacher_id = t.id
        where c1.is_deleted = 0
        <if test="ew != null and ew.sqlSegment != null and ew.sqlSegment != ''">
            and ${ew.sqlSegment}
        </if>
    </select>

    <resultMap id="EduCourseMap" type="EduCourse">
        <id column="cid" property="id"></id>
        <result column="teacherId" property="teacherId"></result>
        <result column="tName" property="teacherName"></result>
        <result column="tCareer" property="teacherCareer"></result>
        <result column="subjectId" property="subjectId"></result>
        <result column="title" property="title"></result>
        <result column="price" property="price"></result>
        <result column="cover" property="cover"></result>
        <result column="lessonNum" property="lessonNum"></result>
        <result column="buyCount" property="buyCount"></result>
        <result column="viewCount" property="viewCount"></result>
        <result column="version" property="version"></result>
        <result column="status" property="status"></result>
        <result column="isDeleted" property="isDeleted"></result>
        <result column="createTime" property="createTime"></result>
        <result column="updateTime" property="updateTime"></result>
        <collection property="children" ofType="EduChapter" column="cid"
                    select="queryCourseChapters">
        </collection>
    </resultMap>

    <select id="queryCourseChapters" resultType="EduVideo" resultMap="courseChaptersMap">
        select c2.id as ccid,
        c2.course_id as courseId,
        c2.title as ccTitle,
        c2.sort as ccSort,
        c2.create_time as ccCreateTime,
        c2.update_time as ccUpdateTime,
        c2.is_deleted as ccIsDeleted
        from edu_chapter c2
        where c2.course_id = #{cid}
        and c2.is_deleted = 0
        order by c2.sort
    </select>

    <resultMap id="courseChaptersMap" type="EduChapter">
        <id column="ccid" property="id"></id>
        <result column="ccTitle" property="title"></result>
        <result column="ccSort" property="sort"></result>
        <result column="courseId" property="courseId"></result>
        <result column="ccIsDeleted" property="isDeleted"></result>
        <result column="ccCreateTime" property="createTime"></result>
        <result column="ccUpdateTime" property="updateTime"></result>
        <collection property="children" ofType="EduVideo" column="ccid" select="queryChapterVideos">
        </collection>
    </resultMap>

    <select id="queryChapterVideos" resultType="EduChapter" resultMap="chapterVideosMap">
        select c3.id as cccId,
        c3.chapter_id as chapterId,
        c3.sort as sort,
        c3.title as cccTitle,
        c3.is_deleted as cccIsDeleted,
        c3.is_free as cccIsFree,
        c3.video_source_path as cccVideoSourcePath
        from edu_video c3
        where c3.is_deleted = 0
        and c3.chapter_id = #{ccid}
        order by c3.sort
    </select>

    <resultMap id="chapterVideosMap" type="EduVideo">
        <id column="cccId" property="id"></id>
        <result column="cccTitle" property="title"></result>
        <result column="chapterId" property="chapterId"></result>
        <result column="sort" property="sort"></result>
        <result column="cccIsDeleted" property="isDeleted"></result>
        <result column="cccIsFree" property="isFree"></result>
        <result column="cccVideoSourcePath" property="videoSourcePath"></result>
    </resultMap>


</mapper>
